body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)), url(https://preview.redd.it/oe901qo4hth61.png?width=3840&format=png&auto=webp&s=eac9b8f429cf2d88a84ed865b6ee5493ff452dcb);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  margin: 0;
  padding: 0;
  border: 0;
}

h1, p {
  color: black;
  display: flex;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

button {
  display: flex;
  justify-content: center;
}

.container-fluid {
  padding: 0% 12%;
}
